@import "tailwindcss";

@font-face {
  font-family: 'Ralsteda Script Bold Italic';
  src: url('/src/assets/fonts/RalstedaRegular-4Bqy9.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Panettone Italic';
  src: url('/src/assets/fonts/Panettone.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ComfortaaRegular';
  src: url('/src/assets/fonts/ComfortaaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-cream: #FFFFE3;
  --color-lime-green: #C6F650;
  --color-green-200: #95C666;
  --color-green-400: #3B853F;
  --color-brown: #B98856;
  --color-olive: #706F46;
  --color-charcoal: #323A33;
  --color-blackish: #181714;
  --color-offwhite: #f8f8f5;
}
