@import "tailwindcss";
@theme {
  --color-cream: #FFFFE3;
  --color-lime-green: #C6F650;
  --color-green-200: #95C666;
  --color-green-400: #3B853F;
  --color-brown: #B98856;
  --color-olive: #706F46;
  --color-charcoal: #323A33;
  --color-blackish: #181714;
}