@import "tailwindcss";
@theme {
  --cream: #FFFFE3;
  --lime-green: #C6F650;
  --green-200: #95C666;
  --green-400: #3B853F;
  --brown: #B98856;
  --olive: #706F46;
  --charcoal: #323A33;
  --blackish: #181714;
}
